/* کانتینر مربع‌های کد */
.code-container {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  /* هریک از ورودی‌های کد */
  .code-input {
    width: 48px;
    height: 56px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #3fbf9f;
    border-radius: 10px;
    outline: none;
  }
  .code-input:focus {
    box-shadow: 0 0 4px rgba(63, 191, 159, 0.6);
  }
  